.wrapper {
    margin: 0 auto;
    padding: 3px;
    width: 90%;
    height: 98%;
}



.editorHeader {
    margin: 3px;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px double #E7F6F2;
    height: 9%;
}

.editorBody {
    height: 90%;
}

.boardName {
    font-size: 60px;
}

.imgInsert {
    font-size: 15px;
}

.submit {
    font-size: 20px;
}

.btn {
    padding: 2px 5px;
    cursor: pointer;
    background-color: #2C3333;
    color: #E7F6F2;
    border: none;
    border: 1px solid #E7F6F2;
    border-radius: 3px;
}



.toolbar {
    display: flex;
    margin: 3px;
    padding: 5px;
    height: 50px;
    /* border: 1px solid wheat; */
}

.titleWrapper {
    display: flex;
    flex-direction: column;
    border: 1px solid #e7f6f2;
    padding: 3px 12px;
}

.titleLabel {
    font-size: 20px;
    text-align: left;
    color: #E7F6F2;
}

.titleInput {
    font-size: 26px;
    padding: 0;
    background-color: #2C3333;
    border: none;
    color: #E7F6F2;
}

.titleInput:focus {
    outline: none;
}

.content {
    margin: 3px;
    padding: 5px;
    /* height: 735px; */
    height: 95%;
    font-size: 26px;
    overflow-y: scroll !important;
    text-align: left;

    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */
}

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar {
    display: none;
}

.content:focus {
    outline: none;
}

.contentAddBtn {
    text-align: center;
}

.contentImg {
    width: 100%;
}

.hidden {
    display: none;
}