.wrapper {
    margin: 0 auto;
    padding: 3px;
    border: 1px solid salmon;
    width: 90%;
    height: 95%;
}

.editorHeader {
    margin: 3px;
    padding: 5px;
    border: 1px solid gold;
    display: flex;
    justify-content: space-between;
    height: 60px;
}

.boardName {
    font-size: 60px;
}

.imgInsert {
    font-size: 15px;
}

.submit {
    font-size: 20px;
}

.btn {
    padding: 2px 5px;
    cursor: pointer;
    background-color: #2C3333;
    color: #E7F6F2;
    border: none;
    border: 1px solid #e7f6f2;
    border-radius: 3px;
}



.toolbar {
    display: flex;
    /* justify-content: space-between; */
    margin: 3px;
    padding: 5px;
    height: 50px;
    border: 1px solid wheat;
}

.titleWrapper {
    display: flex;
    flex-direction: column;

}

.titleLabel {
    font-size: 20px;
    text-align: left;
    color: #E7F6F2;
}

.titleInput {
    font-size: 26px;
    padding: 0;
    background-color: #2C3333;
    border: none;
    border: 1px solid #e7f6f2;

    color: #E7F6F2;
}

.titleInput:focus {
    outline: none;
}

.content {
    margin: 3px;
    padding: 5px;
    border: 1px solid darkseagreen;
    height: 735px;
    font-size: 26px;
    overflow-y: scroll !important;
    text-align: left;
}

.content:focus {
    outline: none;
}



.contentAddBtn {
    border: 1px solid tan;
    text-align: center;
}



.contentImg {
    width: 100%;

}

.hidden {
    display: none;
}