.globalnav {
    background-color: #395b64;
    font-size: 16px;
    position: sticky;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 2020;
    transform: translateY(0);
    transition: transform 0.3s ease;

}

.globalnav::after {
    content: "";
    /* height: 5px; */
    height: 1%;
    opacity: 1;
    pointer-events: none;
    position: absolute;
    right: 0px;
    width: 100%;
    z-index: 2050;
    bottom: 0;
    left: 0;
}

.container {
    height: 5%;
    /* height: 56px; */
    padding: 0 16px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    flex-shrink: 0 !important;

}

.section {
    display: flex;
    padding: 0 16px;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.start {}

.center {}

.end {}

.item {
    padding: 6px;
    cursor: pointer;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;

}

.item:hover {
    color: #A5C9CA
}